<h1>Thanks to all people who already support our case:</h1>

    <ul>
        {{#rows}}
                <li><a href={{url}}>{{first}} {{last}}</a>  {{age}}  <a href="/signers/{{city}}">{{city}</a></li>
        {{/rows}}
    </ul>

