<div class="modal">
    <div class="signers-container">
        {{#if city}}
            <h2>Thanks to all people of
                {{city}}
                who already support this case:</h2>
        {{else}}
            <h2>Thanks to all people who already support our case:</h2>
        {{/if}}

        {{#if error}}
            <h2>{{message}}</h2>
        {{/if}}
        {{#if rows.length}}
            <ul>
                {{#each rows}}
                    <li>
                        <strong>{{first}} {{last}}</strong>, age
                        {{age}}<br />
                        from
                        {{formatCityName city}}<br />
                        <strong>website: </strong>
                        {{#if url}}{{url}}{{else}}none{{/if}}<br />
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No signers found.</p>
        {{/if}}
    </div>
</div>